// .file-upload {
//     background-color: lightgray;
//     border-radius: 100%;
//     margin: auto;
//     padding: 100px;
//     width: 30%;
// }
.file-upload {
    text-align: center;
}

.file-upload label {
    font-size: 100px;
    color: lightgray;
}

.content {
    display: grid;
    grid-template-columns: auto auto;
}

input[type="file"] {
    display: block;
    opacity: 0;
    width: 100%;
}

.title {
    border-radius: 3px;
    border: 1px solid lightgray;
    width: 500px;
}

.title input[type="text"] {
    display: block;
    border: none;
    outline: none;
    width: 250px;
}

.content .info-upload .det {
    font-size: 20px;
    font-weight: 100;
}

.description {
    width: 500px;
    display: block;
    border: 1px solid lightgray;
    margin-top: 10px;
}

.description span {
    display: block;
}

textarea {
    width: 498px;
    border: none;
    outline: none;
}

video {
    display: block;
    width: 250px;
    padding-left: 100px;
}

section {
    background-color: white;
    padding: 10px;
}

// section {
//     display: grid;
//     grid-template-rows: auto auto auto;
// }
.from {
    background-color: white;
    padding: 10px;
}

div label {
    display: block;
    padding: 5px;
    color: #8390A2;
}

// .wrapper label {
//     display: inline;
//     cursor: pointer;
//     padding-top: 20px !important;
// }
// .pad div {
//     display: inline-block;
// }
// .inputpx {
//     width: 400px;
//     padding: 5px 10px;
//     outline: none;
//     font-weight: 200;
//     border: 1px solid #607d8b;
//     font-size: 16px;
//     letter-spacing: 1px;
//     color: #607d8b;
//     background: transparent;
// }
.wrapper {
    border: 1px solid #ccc;
    height: 30px;
    display: flex;
    align-items: center;
    width: 500px;
}

.wrapper input {
    border: none;
}

.wrapper select {
    border: none;
    outline: none;
    width: 500px;
}

.wrapper label {
    display: inline-block;
}

p {
    font-family: Lato;
}

//   #root {
//     padding: 30px;
//   }
.register-form {
    max-width: 350px;
    // margin: auto;
}

#level,
#category,
#language {
    color: #495057;
}

.body-position {
    display: block!important;
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 100px;
}

@media (max-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: 400px;
    }
}

p img {
    height: 50px;
    width: 100px
}

#photo {
    opacity: 0;
}

.button button {
    margin-right: 50px;
}