table {
    width: 100%;
}

.example-user-input {
    margin-right: 8px;
}

// .center {
//     padding-left: 24px;
// }
.pad {
    padding: 8px 8px 8px 0px;
}

.inputpx {
    width: 400px;
    padding: 5px 10px;
    outline: none;
    font-weight: 200;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    border-radius: 30px;
}

video {
    width: 150px;
}