<!-----------------------Header--------------------------->
<app-header></app-header>
<!----------------------Body------------------------------>
<app-main-body></app-main-body>
<!----------------------Footer------------------------------>
<app-footer></app-footer>
<!------------------ JavaScript for Toggle Menu -------------------->
<!-- <script type="text/javascript">
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }

        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script> -->