<div class="sidebar-menu">
    <ul>
        <li>
            <a routerLink="/course/teacher" routerLinkActive="active"><span class="las la-igloo"></span> <span>Course</span></a>
        </li>
        <li>
            <a routerLink="/course/theme" routerLinkActive="active"><span class="las la-level-up-alt"></span> <span>Session</span></a>
        </li>
        <li>
            <a routerLink="/course/lesson" routerLinkActive="active"><span class="las la-graduation-cap"></span> <span>Lesson</span></a>
        </li>
        <li>
            <a routerLink="/course/quiz" routerLinkActive="active"><span class="las la-question"></span> <span>Quiz</span></a>
        </li>

    </ul>
</div>