<section class="facilities">
    <h1>Our Facilities</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
    <div class="row">
        <div class="facilities-col">
            <img src="../assets/img/library.png">
            <h3>World Class Library</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum explicabo voluptatem nam ratione laborum totam perspiciatis impedit minima quod molestiae rem quo aut veritatis inventore provident aliquam ad, similique laudantium.</p>
        </div>
        <div class="facilities-col">
            <img src="../assets/img/basketball.png">
            <h3>Largest Play Ground</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum explicabo voluptatem nam ratione laborum totam perspiciatis impedit minima quod molestiae rem quo aut veritatis inventore provident aliquam ad, similique laudantium.</p>
        </div>
        <div class="facilities-col">
            <img src="../assets/img/cafeteria.png">
            <h3>Tasty and Healthy Food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum explicabo voluptatem nam ratione laborum totam perspiciatis impedit minima quod molestiae rem quo aut veritatis inventore provident aliquam ad, similique laudantium.</p>
        </div>
    </div>

</section>