<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <app-sidebar-brand></app-sidebar-brand>
    <app-sidebar-menu></app-sidebar-menu>

</div>

<div class="main-content">
    <header>
        <app-label></app-label>
        <!-- <app-search-wrapper></app-search-wrapper> -->
        <app-user-wrapper></app-user-wrapper>
    </header>
    <main>
        <div>
            <mat-tab-group>
                <mat-tab label="Main">
                    <app-main-quiz></app-main-quiz>
                </mat-tab>

                <mat-tab label="Create">
                    <app-from-quiz></app-from-quiz>
                </mat-tab>

            </mat-tab-group>
        </div>
    </main>


</div>