<section class="footer">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, deleniti ex maiores accusamus inventore dolore, temporibus ducimus at, <br>quos explicabo corporis incidunt quia nisi excepturi dolorum ut quibusdam consequuntur itaque!</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with<i class="far fa-heart">Hoangphuc&ThanhSon</i></p>
</section>