<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <img src="assets/img/certificate.jpg" alt="">
            <h2>Our Certificate & Online Programs For 2021</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate consequatur accusantium nam qui mollitia nihil nesciunt doloremque perferendis, dolores error repellat, et voluptatibus velit ea. Repellat iusto aspernatur hic qui?</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id molestiae in ut asperiores qui voluptate aliquid, nostrum sequi doloremque distinctio necessitatibus accusamus earum architecto, blanditiis maiores alias. Voluptatem, ipsa omnis?</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum veniam distinctio adipisci, architecto corrupti similique. Possimus, voluptas autem ad blanditiis</p>

            <div class="comment-box">
                <h3>Leave a comment</h3>
                <form class="comment-form">
                    <input type="text" placeholder="Enter Name">
                    <input type="email" placeholder="Enter Email">
                    <textarea rows="5" placeholder="Your comment">
                       </textarea>
                    <button type="submit" class="hero-btn red-btn">POST COMMENT</button>
                </form>
            </div>
        </div>
        <div class="blog-right">
            <h3>Post Categories</h3>
            <div>
                <span>Business Analytics</span>
                <span>21</span>
            </div>
            <div>
                <span>Computer Science</span>
                <span>34</span>
            </div>
            <div>
                <span>Data Science</span>
                <span>28</span>
            </div>
            <div>
                <span>Machine Learning</span>
                <span>15</span>
            </div>
            <div>
                <span>AutoCAD</span>
                <span>42</span>
            </div>
            <div>
                <span>Journalism</span>
                <span>22</span>
            </div>
            <div>
                <span>Commerce</span>
                <span>30</span>
            </div>
        </div>
    </div>


</section>