<div class="mat-elevation-z8">
    <div>
        <h2>You need to delete this data first.</h2>
    </div>
    <div class="clear" (click)="openDestroy()"><span>Delete all</span></div>

    <table mat-table [dataSource]="dataSource" id="course">

        <!-- Position Column -->
        <ng-container matColumnDef="id" class="center">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="photo" class="center">
            <th mat-header-cell *matHeaderCellDef> Photo </th>
            <td mat-cell *matCellDef="let element"> <img src="{{this.endPoint+this.url_img+this.url_course+element.photo}}" /></td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="center"> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="level_id">
            <th mat-header-cell *matHeaderCellDef class="center"> Level </th>
            <td mat-cell *matCellDef="let element"> {{element.level.name}} </td>
        </ng-container>
     
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef class="center">Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="center"> Action </th>
            <td mat-cell *matCellDef="let element" (click)="deleteData(element)" [childMessage]="parentMessage"> <button type="button" class="btn btn-danger">Delete</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>