<section class="campus">
    <h1>Our Global Campus</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
        <div class="campus-col">
            <img src="../../assets/img/london.png" alt="">
            <div class="layer">
                <h3>London</h3>
            </div>
        </div>

        <div class="campus-col">
            <img src="../../assets/img/newyork.png" alt="">
            <div class="layer">
                <h3>Newyork</h3>
            </div>
        </div>

        <div class="campus-col">
            <img src="../../assets/img/washington.png" alt="">
            <div class="layer">
                <h3>Washington</h3>
            </div>
        </div>
    </div>
</section>