<section class="testimonial">
    <h1>What Our Student Says</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
        <div class="testimonial-col">
            <img src="../assets/img/user1.jpg">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic necessitatibus, minus ex, accusantium suscipit vel obcaecati quisquam iure consectetur, possimus eius ut? Hic id cum voluptas libero non modi deleniti.</p>
                <h3>Christine Berkley</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="far fa-star"></i>

            </div>
        </div>
        <div class="testimonial-col">
            <img src="../assets/img/user2.jpg">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic necessitatibus, minus ex, accusantium suscipit vel obcaecati quisquam iure consectetur, possimus eius ut? Hic id cum voluptas libero non modi deleniti.</p>
                <h3>David Byer</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
    </div>
</section>